<div class="sample">
  <div class="topwide">
    <div class="topinner">
      <h2 class="title-l">大見出し</h2>
      <div class="flex-row">
        <div class="col-2">
          <h3 class="title-m">中見出し</h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <h4 class="title-s">小見出し</h4>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
        <div class="col-2">
          <h3 class="title-m">中見出し</h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sample1">
  <div class="topinner">
    <h2 class="title-l">flex-row</h2>
    <div class="flex-row reverse">
      <div class="col-2">
        <figure><img src="[template_url]/img/surgery.jpg" alt=""></figure>
      </div>
      <div class="col-2 block-A">
        <h3 class="title-m">col-2&reverse</h3>
        <p>last-child<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
    <div class="flex-row fill">
      <div class="col-3 block-A">
        <h3 class="title-m">col-3&fill</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-3 block-A">
        <h3 class="title-m">col-3&fill</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-3 block-A">
        <h3 class="title-m">col-3&fill</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-3 block-A">
        <h3 class="title-m">col-3&fill</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-3 block-A">
        <h3 class="title-m">col-3&fill</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
    <div class="flex-row tab-col2">
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-4 block-A">
        <h3 class="title-m">col-4&tab-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
    <div class="flex-row sp-col2">
      <div class="col-5 block-A">
        <h3 class="title-m">col-5&sp-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-5 block-A">
        <h3 class="title-m">col-5&sp-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-5 block-A">
        <h3 class="title-m">col-5&sp-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-5 block-A">
        <h3 class="title-m">col-5&sp-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-5 block-A">
        <h3 class="title-m">col-5&sp-col2</h3>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
    <h2 class="title-l">flex-row in flex-row</h2>
    <div class="flex-row">
      <div class="col-2 block-A">
        <div class="flex-row">
          <div class="col-2 block-B">
            <p>テキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
          <div class="col-2 block-B">
            <p>テキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </div>
      <div class="col-2 block-A">
        <div class="flex-row">
          <div class="col-2 block-B">
            <p>テキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
          <div class="col-2 block-B">
            <p>テキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </div>
    </div>
        <h2 class="title-l">flex-item with newline</h2>
    <div class="flex-row">
      <div class="col-2 block-A">
        <p>テキスト</p>
      </div>
      <div class="col-2 block-A">
        <p>テキスト</p>
      </div>
      <div class="col-2 block-A">
        <p>テキスト</p>
      </div>
      <div class="col-2 block-A">
        <p>テキスト</p>
      </div>
    </div>
  </div>
</div>
<section class="sample2">
  <div class="topinner">
    <h2 class="title-l">mixin</h2>
    <div class="flex-row">
      <div class="col-4">
        <h3 class="title-m">btnTemplate</h3>
        <div class="btn-sample"><a href="#">more</a></div>
        <p>@include btnTemplate($btn_color, $btn_bg, $arr_width, $btn_radius)</p>
      </div>
      <div class="col-4">
        <h3 class="title-m">slidArrow</h3>
        <div class="f-center">
          <div class="solidArrow"></div>
        </div>
        <p>@include solidArrow($dir: top,$size: 10px,$weight: 2px,$color: #000,$spread:null)</p>
      </div>
      <div class="col-4">
        <h3 class="title-m">fillArrow</h3>
        <div class="f-center">
          <div class="fillArrow"></div>
        </div>
        <p>@include fillArrow($dir: top, $size: 20px, $color: #000, $type: null)</p>
      </div>
      <div class="col-4">
        <h3 class="title-m">pagetop</h3>
        <div class="f-center">
          <div class="pagetop"></div>
        </div>
        <p>@include pagetop($size: 50px, $color: #fff, $bg: #000)</p>
      </div>
    </div>
    <h3 class="title-m">f-gridLayout</h3>
    <div class="f-gridLayout">
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
      <div class="f-gridLayout__item block-A">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
    </div>
  </div>
</section>
