<div class="mainimage">
  <div class="slider-wrap">
    <div class="slider">
      <div><img src="[template_url]/img/image1.jpg" alt="<%= site.name %>" class="pc" /><img src="[template_url]/img/sp_image1.jpg" alt="<%= site.name %>" class="sp" /></div>
      <div><img src="[template_url]/img/image2.jpg" alt="<%= site.name %>" class="pc" /><img src="[template_url]/img/sp_image2.jpg" alt="<%= site.name %>" class="sp" /></div>
    </div>
  </div>
</div>
