<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <title>ローカルコーディング</title>
</head>
<body class="home">
  <div id="header">
    <div class="inner clearfix">
      <div id="custom_html-2" class="widget_text headerinner">
        <div class="textwidget custom-html-widget">
          <% include widgets/_header %>
        </div>
      </div>
    </div>
  </div>
  <% include widgets/_mainimage %>
  <div id="contents">
    <div class="inner clearfix">
      <div id="main" class="mainblock">
        <% include widgets/_main %>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.matchHeight.js"></script>
  <script src="assets/js/slick.js"></script>
  <% include widgets/_javascript %>
</body>
</html>
